.visitors-count {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: grey;
  text-transform: capitalize;
  box-shadow: 0 0 5px grey, 0 0 10px grey;
  border-radius: 20px;
  margin: 10px;
}

.visitors-count h1 {
  margin: 0;
}

.simple-analytics-container {
  width: 70%;
  height: 70vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 5px grey, 0 0 10px grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pie-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.country-lister {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.color-code {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  background: rebeccapurple;
  border-radius: 50%;
}

.visitors-country {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart {
  margin-top: 10%;
}
.archive-thumbnail h1{
  margin:0;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: grey;
}
.archive-thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightText{
  width: 100%;
  text-align: right;
  color: grey;
  font-family: sans-serif;
  margin:0;
  text-transform:uppercase;
}